@model WebMVC.ViewModels.PurchaseRequest.Detail.DetailPurchaseRequestViewModel;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>編輯</h2>

    <div class="form-horizontal">
        <h4>請購單</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            請購單號
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" ,@readonly = "readonly"} })
            </div>
        </div>
        <div class="form-group">
            建立時間
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CreateAt)
            </div>
        </div>
        <div class="form-group">
            描述
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <table id="itemTable" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>料號</th>
                    <th>名稱</th>
                    <th>規格</th>
                    <th>數量</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PurchaseRequestItems)
                {
                    <tr>
                        <td><button onclick="remove(this,@item.Id)" tpye="button" class="btn btn-danger">X</button>
                        @Html.HiddenFor(model => item.Id)
                        @Html.HiddenFor(model => item.PRId)
                        </td>
                        <td>@Html.DropDownList("selector", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-select" })</td>
                        <td>@Html.EditorFor(model => item.Name, new { htmlAttributes = new { @class = "form-control" ,@readonly = "readonly"} })</td>
                        <td>@Html.EditorFor(model => item.Spec, new { htmlAttributes = new { @class = "form-control" ,@readonly = "readonly"} })</td>
                        <td>@Html.EditorFor(model => item.Qty, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <button id="addItem" tpye="button" class="btn btn-primary">+</button>
        </p>
        <div class="col-md-offset-2 col-md-10">
            <input id="updateBtn" type="button" value="儲存" class="btn btn-primary" />
        </div>
    </div>

<div>
    @Html.ActionLink("返回清單", "Index")
</div>